extends layout


block content
    
        table.table.table-hover.table-dark
            thead
                tr
                    th(scope="col") Partição
                    th(scope="col") /
                    th(scope="col") /dev
                    th(scope="col") /net
                    th(scope="col") /home
            tbody    
                tr
                    th(scope="row") Size(GB)
                    td #{metrics[0]}
                    td #{metrics[1]}
                    td #{metrics[2]}
                    td #{metrics[3]}
                tr
                    th(scope="row") Free(%)
                    td #{metrics[4]}
                    td #{metrics[5]}
                    td #{metrics[6]}
                    td #{metrics[7]}
                script
                    include ../refresh.js